//setup
@charset 'utf-8';

//bootstrap stuff
@import 'demo/base/variables';
@import 'demo/base/mixins';
@import 'demo/base/normalize';
@import 'demo/base/scaffolding';
@import 'demo/base/type';

@import 'demo/base/colors';
@import 'demo/base/typography';
@import 'demo/base/grid';
@import 'demo/base/placeholders';

@import 'demo/shared/header-primary';
@import 'demo/shared/main-content';
@import 'demo/shared/footer';

@import 'demo/products/products';
@import 'demo/products/product';
@import 'demo/products/product-detail';

@import 'demo/news/news';
@import 'demo/news/news-detail';

@import 'demo/homepage/hero';
@import 'demo/homepage/story';

.hero h1 {
  color: white;
}

h1.header {
  color: $primary-color;
  margin: 0px 0px 0px 10px;
}

@media screen and (max-width: $screen-md-max){
  h1.header {
    margin: 10px 0px 0px 10px;
  }
}

@media screen and (max-width: $screen-xs-max){
  h1.header {
    margin: 20px 0px 0px 10px;
  }
}